.navbar {
    z-index: 10;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background: transparent;
}

.navbar .headName .name{
    color: var(--secondary);
    font-size: 35px;
    font-weight: 600;
    text-align: initial;
    cursor: pointer;
    transition: 0.3s;
}

.navbar .headName .name:hover {
    color: var(--primary);
}

.navbar .headName .name:hover #R,
.navbar .headName .name:hover #S {
    color: var(--secondary);
}

.navbar .headName #R,
.navbar .headName #S{
    color:var(--primary);
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar .menu li .link {
    color: rgb(242, 242, 242);
    font-size: 18px;
    font-weight: 500;
}

.navbar .menu li .active::after {
    content: '';
    height: 3px;
    width: 100%;
    background: var(--primary);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

.navbar .menu li .link:hover {
    cursor: pointer;
}

.navbar .menu li::after {
    content: '';
    height: 3px;
    width: 0;
    background: var(--primary);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

.navbar .menu li:hover::after {
    width: 100%;
}

.navbar .menuIcon {
    display: none;
}

.navbar .mobileMenu {
    display: none;
}

@media (max-width: 800px) {
    .navbar .menuIcon {
        display: block;
        top: 0;
        right: 0;
        z-index: 10;
        cursor: pointer;
        color: white;
        font-size: 25px;
    }
    .navbar .menu {
        display: none;
        width: 100%;
        position: absolute;
        top: 80px;
        opacity: 0;
        text-align: center;
    }
    .navbar .menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        right: 0;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 25px 45px rgba(0,0,0,0.1);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        overflow: hidden;
        transition: 0.3s;
        left: 0px;
        opacity: 1;
        z-index: 10;
    }
    .navbar li {
        padding: 1.5rem;
        display: table;
    }
}